@import "../general_styles/variables";
.section-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	.hero-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 0 1.5rem;
		margin-top: 16rem;
		width: 100%;
		z-index: 20;

		.left-area-hero {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 1.3rem;
			justify-content: center;
			margin: auto;
			text-align: start;
			.main-text-hero {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				margin-top: 2.4rem;
				font-size: 6rem;
				line-height: 1;
				font-weight: 700;
				color: white;
				width: auto;
				height: auto;
				max-width: 60rem;
				span {
					font-weight: 800;
				}
			}
			.secondary-text-hero {
				font-size: 1.8rem;
				line-height: 2.8rem;
				color: $zinc-400;
				margin: 2rem 0;
				max-width: 50rem;
			}
			.buttons-area-hero {
				display: flex;
				flex-direction: row;
				width: 100%;
				gap: 2rem;
				.hero-button {
					padding: 0.8rem 0;
					font-size: 1.6rem;
					text-align: center;
					color: $gray-100;
					cursor: pointer;
					border-radius: 0.8rem;
					width: 100%;
					max-width: 20rem;
				}
			}
		}
		.right-area-hero {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 1.5rem;
			.blob-profile-pic {
				background-image: url("../../../public/my-photo.jpeg");
				height: 48rem;
				width: 48rem;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				animation: blob 5s ease-in-out infinite;
				transition: all 1s ease-in-out;
				box-shadow: 0 0.5rem 0.5rem 0.5rem rgba($colors-violet, 0.2);
			}
		}
		@media (max-width: 1080px) {
			flex-direction: column;
			gap: 4rem;
			margin-top: 6rem;
			.left-area-hero {
				align-items: center;

				text-align: center;
				.main-text-hero {
					text-align: center;

					font-size: 4.8rem;
				}
				.secondary-text-hero {
					text-align: center;
				}
				.buttons-area-hero {
					justify-content: center;
				}
			}
			.right-area-hero {
				.blob-profile-pic {
					height: 32rem;
					width: 32rem;
				}
			}
		}
	}
}

@keyframes blob {
	0%,
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}
