@use "../general_styles/variables" as *;
.section-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	height: 100%;
	max-height: 650rem;
	position: relative;
	overflow: hidden;
	padding-bottom: 8rem;
	margin: 0 1.5rem;
	h1 {
		font-size: 4rem;
		font-weight: 600;
		padding: 4rem 0;
	}
	.projects-area {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 1.6rem;
		gap: 2rem;
		.project-card {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-basis: 36rem;
			align-items: center;
			justify-content: space-between;
			background-color: rgba($colors-dark-purple, 0.09);
			z-index: 50;
			height: 20rem;
			cursor: pointer;
			border-radius: 0.8rem;
			border-width: 0.1rem;
			border-color: $colors-purple;
			transition: transform 0.3s;
			&:hover {
				transform: scale(0.95);
			}
			.project-image {
				display: flex;
				overflow: hidden;
				width: 100%;
				height: 80%;
				border-radius: 0.5rem;
				border-width: 0.1rem 0 0 0;
				border-color: $colors-purple;
			}
			.project-name {
				display: flex;
				height: 20%;
				align-items: center;
				font-size: 1.4rem;
			}
		}
	}
}

.project-modal {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 85rem;
	max-height: 42rem;
	background-color: rgba($colors-dark-purple, 0.45);
	border-radius: 0.8rem;
	border-width: 0.1rem;
	border-color: $colors-purple;

	z-index: 1001; // do not touch (overlay's z-index is 1000)
	.video-area {
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;
		justify-content: space-around;
		padding: 0 2rem;
		border-width: 0 0 0.1rem 0;
		border-color: $colors-purple;
		border-radius: 0.8rem 0.8rem 0 0;

		.video-player {
			width: 100%;
			height: 100%;
			max-width: 36rem;
			max-height: 24rem;
			margin: 2rem 0;
			border-radius: 0.8rem;
			border-color: $colors-light-purple;
			border-width: 0.1rem;
			overflow: hidden;
			position: relative;
			video {
				object-fit: fill;
				height: 100%;
				width: 100%;
			}
			@media (max-width: 991px) {
				margin: 0;
			}
		}
		.project-commentary {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			padding: 2rem 2rem;
			overflow-y: scroll;
			max-width: 36rem;
			max-height: 20rem;
			border-radius: 0.8rem;
			border-width: 0.1rem;
			border-color: $colors-purple;
			margin-right: 4rem;
			background-color: rgba($colors-dark-purple, 0.09);
			h2 {
				font-size: 2.4rem;
				font-weight: 800;
				max-width: 28rem;
				line-height: 2rem;
				margin-bottom: 1rem;
			}
		}
	}
	.links-area {
		display: flex;
		flex-direction: row;
		height: 100%;
		max-height: 12rem;
		align-items: center;
		justify-content: space-around;
		.button-link {
			padding: 0.8rem;
			font-size: 1rem;
			letter-spacing: 0.1rem;
			text-align: center;
			color: $gray-100;
			cursor: pointer;
			max-width: 24rem;
			border-radius: 0.8rem;
			border-width: 0.1rem;
			border-color: rgba($colors-light-purple, 0.7);
			opacity: 0.9;
		}
	}
	.close-modal-button {
		border-radius: 69420rem;
		background-color: rgba($colors-dark-purple, 0.09);
		width: 5rem;
		height: 3.2rem;
		border-width: 0.1rem;
		border-color: $colors-purple;
		user-select: none;
		font-size: 1rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		z-index: 1002;
		&:hover {
			background-color: rgba($colors-dark-purple, 0.33);
		}
		&:active {
			background-color: rgba($colors-dark-purple, 0.66);
		}
	}
	@media (max-width: 991px) {
		max-height: 64rem;
		margin: 0 1.5rem;
		.video-area {
			flex-direction: column;
			padding-top: 3.2rem;
			.project-commentary {
				margin-right: 0;
				max-width: 64rem;
			}
		}
	}
	@media (max-width: 480px) {
		.links-area {
			flex-direction: column;
			max-height: 10rem;
		}
	}
}
