$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$colors-dark-purple: #030014;
$colors-purple: #2a0e61;
$colors-light-purple: #7042f8;
$colors-violet: #9306d4;
$colors-pink: #aa5573;
